---

services:

  nginx-web-1:
    build: .
    container_name: nginx_web_1
    volumes:
      - ./website1:/var/www/html:ro # mount host website1 folder in /var/www/html of container
      - ./static.localhost.conf:/etc/nginx/conf.d/static.localhost.conf:ro
    restart: unless-stopped
    networks:
      - webnet

  nginx-web-2:
    build: .
    container_name: nginx_web_2
    volumes: 
      - ./website2:/var/www/html:rw
      - ./static.localhost.conf:/etc/nginx/conf.d/static.localhost.conf:ro

    restart: unless-stopped
    networks:
      - webnet

  traefik:
    image: traefik:latest
    # container_name: traefik
    command:
      - --entryPoints.web.address=:80
      - --providers.file.filename=/etc/traefik/dynamic_conf.yml
      - --providers.file.watch=true
      - --api.insecure=true
      - --log.level=INFO
    ports:
      - "80:80" # this is for the web entrypoint
      - "8080:8080" # this is for the traefik dashboard
    volumes:
      - ./traefik/dynamic_conf.yml:/etc/traefik/dynamic_conf.yml:ro
    restart: unless-stopped
    networks:
      - webnet

networks:
  webnet:
    # driver: bridge
    # attachable: true

# volumes:
#   # site_data:
